.header-color {
  background-color: #833ab4;
}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #EEEEEE;
  color: #000000;
  padding: 1em;
  padding-top: 0;
  /* width: 60%; */
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
.footerfirstdiv {
  display: flex;
  padding-left: 100px;
  flex-direction: column;
  width: 260px;
  text-align: center;
  margin: 10px;
  align-self: center;
  align-items: center;
}
.secondfooterfirstdiv {
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  width: 300px;
  /* text-align: center; */
  margin: 10px;
  /* align-self: center; */
  /* align-items: center; */
}
.footerGod {
  display: flex;
  flex-direction: row;
}
.medee {
  display: flex;
  padding-left: 10px;
  margin-left: 17px;
  height: 30px;
  background-color: #02459e;
  width: 80%;
  align-self: center;
  margin-top: 30px;
  align-items: center;
}

.zarmedee {
  
}
.zarTitle {
  width: 500px;
  margin-left: 30px;
}
.imgTxtcontainer {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  }
  a:hover {
  text-decoration: underline;
  color: #fd1d1d;
  }

  .full-height {
    height: 100%;
    background-color: #f2f2f2;
  }
  .footercontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
.secondaoubdiv {
  width: 80%;
  background-color: white;
  height: 100%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
}
.headeabout {
  width: 95%;
  margin: 15px;
  height: 35px;
  align-items: center;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 2px;
}
.headeaboutText {
  width: 95%;
  display: flex;
  flex-direction: column;
}
.ulmedehabout{
  display: flex;
  flex-direction: column;
  /* background-color: skyblue; */
  width: 75%;
}
.garchig {
  width: 265px;
  justify-content: center;
  justify-self: center;
  height: auto;
  display: flex;
  /* background-color: orange; */
}
.menuData {
  width: 200px;
  height: auto;
  padding: 5px;
  background-color: #cacaca;
  border-bottom: 1px solid white;
  
}

.menuData:hover{
  background-color:#e3cf34;
}
.myFontText {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table {
  margin-left: 50px;
}
td {
  line-height: 2;
}